# Activate mod_expires for this directory
ExpiresActive on

# locally cache common image types for 7 days
ExpiresByType image/jpg "access plus 7 days"
ExpiresByType image/jpeg "access plus 7 days"
ExpiresByType image/gif "access plus 7 days"
ExpiresByType image/png "access plus 7 days"

# cache CSS files for 2 days
ExpiresByType text/css "access plus 2 days"

# cache JS files for 7 days
ExpiresByType application/javascript "access plus 7 days"

ExpiresByType text/html "access plus 7 days"